.todo-items-list {
  display: inline-block;
  width:100%;
  height: 100%;
  .container {
    display: flex;
    height: 100%;
    .list-items {
        border-right: 1px solid;
        flex:1;
        padding: 20px 35px 0;
        overflow: auto;

        .item-title {
          cursor: pointer;
        }
        .paginator {
          margin-top: 25px;
        }
    }

    .item {
        flex:1;
        padding: 20px 35px;
    }
  }

}
