.todo-items-list {
  display:flex;
  height: 100%;
  flex-direction: column;
  .container {

    .list-items {
        border-right: 1px solid;
        flex:1;
        padding: 20px 35px;
        width: 20%;
    }

    .item {
        flex:1;
        padding: 20px 35px;
    }
  }

}
