<div class="todo-items-list">
  <div class="container" *ngIf="todoList$ | async as todoList">
    <div class="list-items sidenav">
      <div class="item-title"
        *ngFor="let itemTodo of todoList | paginate: { itemsPerPage: 25, currentPage: pageIndex } "
        (click)="showItem(itemTodo)" >
        {{ itemTodo.title }}
      </div>
      <div class="paginator">
        <mat-paginator
          [length]="todoList?.length"
          [pageSize]="25"
          (page)="pageEvent($event)"
        >
        </mat-paginator>
      </div>
    </div>


    <div class="item">
      <app-todo-item [item]="item" [showfavorit]="showfavorit"></app-todo-item>
    </div>
  </div>
</div>
