<div class="todo-items-list">
  <div class="container" *ngIf="todoList$ | async as todoList">
    <div class="sidenav">
      <mat-list class="list-items">
        <mat-list-item class="item-title"
        *ngFor="let itemTodo of todoList | paginate: { itemsPerPage: 25, currentPage: pageIndex } "
        (click)="showItem(itemTodo)" >
        {{ itemTodo.id }}
        {{ itemTodo.title }}
        <mat-divider></mat-divider>
      </mat-list-item>
      </mat-list>
      <div class="paginator">
        <mat-paginator
          [length]="todoList?.length"
          [pageSize]="25"
          (page)="pageEvent($event)"
        >
        </mat-paginator>
      </div>
    </div>


    <div class="item">
      <app-todo-item [item]="item" ></app-todo-item>
    </div>
  </div>
</div>
